

{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Commande</h1>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                {% csrf_token %}
                <div id="user-info">
                    <p>Informations Personnelles</p>
                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Nom..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="username" placeholder="Prénom..." required> 
                    </div>
                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Email..." required>
                    </div>
                    <div class="form-field">
                        <input type="number" class="form-control" name="phone" placeholder="Tel..." required> 
                    </div>
                </div>
                <hr>
                <div id="shipping-info">
                    <p>Informations de Livraison</p>
                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="Adresse..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Ville..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="state" placeholder="Pays..." required>
                    </div>
                    <div class="form-field">
                        <input type="number" class="form-control" name="zipcode" placeholder="Code Postal..." required>
                    </div>
                    
                </div>
                <hr>
                <input type="submit" id="form-button" class="btn w-100 btn-success btn-block" value="Continuer">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Veillez choisir le mode de payement</small>
            <div id="paypal-button-container"></div>
            <!--<button class="btn w-100 btn-success btn-block" id="make-payment">Effectuer le paiement</button>-->
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'shop:panier' %}" class="btn btn-outline-dark">&#x2190; Retour au panier</a>
            </div>
            <hr>
            <h1>Recapitulatif de la commande</h1>
                <hr>
            {% for article in articles %}

            <div class="panier-row">
                <div style="flex: 2"><img src="{{article.produit.imageUrl}}" alt="" class="row-image"></div>
                <div style="flex: 2">{{article.produit.name}}</div>
                <div style="flex: 1">{{article.produit.price}} FCFA</div>
                <div style="flex: 1">x{{article.quantite}}</div>
            </div>

            {% endfor %}
            <h5>Articles: {{commande.get_panier_article}}</h5>
            <h5>Articles: {{commande.get_panier_total|floatformat:2}} FCFA</h5>
        </div>
    </div>
</div>

<!--Inclure le SDK JavaScript de PayPal-->
<script src="https://www.paypal.com/sdk/js?client-id=AcTelgAnRdhEUmhEw0YYqyvk3qlgDikjRhsgWjyCS5mcaypkcGZXW0mqTTmsFPyrslfVqnp9WgqotVFh&currency=USD"></script>

<script>
    //render the PayPal button into #paypal-button-container
    var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);
    paypal.Buttons({

        style: {
                color:  'blue',
                shape:  'rect',
            },
        //set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },
        //finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Succeeeful capture for demo purposes

                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                submitFormData(transaction.id, transaction.status);
            });    
        }
    }).render('#paypal-button-container');

    function submitFormData(transactionId, status) {
        // Fonction pour soumettre les données du formulaire ou traiter les informations
        console.log('Transaction ID:', transactionId);
        console.log('Transaction Status:', status);
        // Ajoutez ici la logique pour envoyer les données au serveur ou mettre à jour l'interface utilisateur
    }
</script>

<script type="text/javascript">

    var total = parseFloat('{{commande.get_panier_total}}');
    var produitPhysique = '{{commande.produit_physique}}';

    //code qui demande les coordonnées du client l'orsque l'article est physique
    if(produitPhysique == 'False'){
        document.getElementById('shipping-info').innerHTML = '';
    }

    //code qui cache la demande des informations de l'utilisateur lorsqu'il est connecté 

    if ( user != "AnonymousUser"){
        document.getElementById('user-info').innerHTML = '';
    } 

//code qui cache le formulaire des informations de l'utilisateur et le formulaire de demande des cordonnées du client 
//lorsqu'il est connecté et que l'article n'est pas physique

    if ( produitPhysique == "False" && user != "AnonymousUser"){
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    }

    var form = document.getElementById('form');

    form.addEventListener('submit', function(e){
        e.preventDefault(); // la page ne doit pas se recharger
        console.log('envoi des données ....');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    //document.getElementById('make-payment').addEventListener('click', function(e){
    //    submitFormData(); //fonction qui permet d'envoyer les données
   // })
    
    //code pour envoyer les données vers la page de paiement
    function submitFormData(transaction_id, status){

        paymentInfo = {
            'transaction_id': transaction_id,
            'status': status,
            'total': total,
        }
        
        var userFormData = {
            'name':null,
            'username':null,
            'phone': null,
            'email': null,
            'total': total,
        } 
        var shippingUserInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        } 
        if (produitPhysique != "False"){
            shippingUserInfo.address = form.address.value;
            shippingUserInfo.city = form.city.value;
            shippingUserInfo.state = form.state.value;
            shippingUserInfo.zipcode = form.zipcode.value;
            
        }
        if (user == "AnonymousUser"){
            userFormData.name = form.name.value;
            userFormData.username = form.username.value;
            userFormData.phone = form.phone.value;
            userFormData.email = form.email.value;
        }

        //code qui envoie les données dans la fonction traitement_commande
        var url = '/traitement_commande/';
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify({"form": userFormData, "shipping": shippingUserInfo, 'payment_info': paymentInfo })
            })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log('data', data);
                alert('traitement commande terminé');
                panier = {};
                document.cookie = "panier=" + JSON.stringify(panier) + ";domain=;path=/";
                window.location.href = "{% url 'shop:shop' %}";
            })
    }

</script>
{% endblock  %}