{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/product1.jpg' %}" alt="Card image cap">
            <div class="box-element produit">
                <h5">Product 1</h5>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a href="#" class="btn btn-outline-success">Voir</a>
                <h3 style="float: right;">$10</h3>
            </div>            
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/product1.jpg' %}" alt="Card image cap">
            <div class="box-element produit">
                <h5>Product 1</h5>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a href="#" class="btn btn-outline-success">Voir</a>
                <h3 style="float: right;">$10</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/product1.jpg' %}" alt="Card image cap">
            <div class="box-element produit">
                <h5>Product 1</h5>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a href="#" class="btn btn-outline-success">voir</a>
                <h3 style="float: right;">$10</h3>
            </div>
        </div>
    </div>
</div>


{% endblock %}
